App(
    appid="{{APP_ID}}",
    name="{{APP_NAME}}",
    apptype=FlipperAppType.EXTERNAL,
    entry_point="{{APP_ID}}_app",
    cdefines=["{{APP_ID_UPPER}}"],
    requires=["gui"],
    stack_size=2 * 1024,
    order=10,
    fap_icon="icon.png",
    fap_category="{{CATEGORY}}",
)